html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    padding: 0;
    line-height: 3rem;
    margin: 2rem;
    background-color: rgb(241, 235, 239);
}

.header {
    max-width: 67.5rem;
    text-align: center;
    margin: 2rem auto;
}

.header__primary {
    font-weight: 200;
}

.header__secondary {
    font-weight: 600;
}

.header__details {
    font-weight: 400;
}

h3, p {
    color: hsl(255, 62, 62);
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

h1, h4 {
    color: rgb(27, 2, 248);
}
 
h4 {
    margin: 0;
    font-size: 2.3rem;
    font-weight: 600;
}

.card {
    width: 27rem;
    background-color: white;
    margin: 2rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    border-top: 6px solid;
    border-radius: 8px;
    padding: 3rem;
}

.card1 {
    border-color: rgb(129, 2, 255);
}

.card2 {
    border-color: rgb(7, 6, 6);
}
.card3 {
    border-color: rgb(252, 242, 242);
}

.card4 {
    border-color: rgb(68, 199, 247);
}   

img {
    padding-top: 1rem;
    float: right;
}

@media only screen and (min-width: 68em) {
        .card1 {
            transform: translateY(50%);
            order: 1;
        }

        .card2 {
            order: 2;
        }

        .card3 {
            order: 4;
        }

        .card4 {
            transform: translateY(50%);
            order: 3;
        }
}